* {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background: linear-gradient(to top right,
            rgb(50, 3, 3) 0%,
            rgb(50, 3, 3) 60%,
            rgb(189, 75, 4) 60%,
            rgb(189, 75, 4) 100%)
}

header {
    padding: 40px 150px 0px 0px;
    display: flex;
    justify-content: right;
    gap: 30px;

}

h1 {
    font-size: 90px;
}

h3 {
    font-size: 44px;
}

.my-introduction {
    margin: 15vh 20vh;
    margin-bottom: 210px;

}

.header-buttons {
    border: none;
    border-radius: 35px;
    padding: 20px 50px;
    cursor: pointer;
    font-size: 20px;
}

.apresetation {
    color: white;
}


.link-linkedin {
    font-size: 35px;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 16px 120px;
    background-color: rgb(189, 75, 4);
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
}

.link-linkedin:hover {
    opacity: 0.8;
}

.link-linkedin:active {
    opacity: 0.5;
}

.header-buttons:hover {
    opacity: 0.8;
}

.header-buttons:active {
    opacity: 0.5;
}

.about-me {
    padding-top: 30px;
    text-align: center;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.profile-professional {
    text-align: center;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.davi-img {
    height: 450px;
    width: 350px;
    margin-left: 180px;
    margin-top: 50px;
    display: inline-block;
    border-radius: 50px;
}

.about-section {
    display: inline-block;
    color: white;
    font-size: 25px;
    margin-left: 100px;
    padding-bottom: 65px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));

}

.my-descrition {
    font-size: 50px;
}

li {
    list-style-type: none;
}

.my-habilit {
    text-align: center;
    margin-top: 60px;
    color: white;
    font-size: 55px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}
.habilits-and-formations {
    color: rgb(202, 59, 59);
    margin-bottom: 20px;
}

.first-habilits {
    color: aliceblue;
    margin-top: 50px;
    margin-left: 50px;
    justify-content: center;
    border: 3px solid rgb(178, 16, 16);
    padding: 8px 8px 8px 8px;
    width: 430px;
    background-color: rgb(38, 6, 6);
    

}

.DevClub {
    color: rgb(123, 15, 224);

}