* {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background-color: rgb(50, 3, 3);
    /* background: linear-gradient(to top right,
            rgb(50, 3, 3) 0%,
            rgb(50, 3, 3) 60%,
            rgb(189, 75, 4) 60%,
            rgb(189, 75, 4) 100%) */
}


.second-main {
    width: 100%;
    background-color: rgb(87, 7, 7);
    
}

.third-main {
    text-align: center;
}

.fourth-main {
    background-color: rgb(212, 81, 0);
    padding-top: 35px;

}

header {
    padding: 55px 150px 0px 0px;
    display: flex;
    justify-content: right;
    gap: 30px;

}

.apresetation {
    color: white;
    font-size: 44px;
}

.apresetation-name {
    font-size: 90px;
}

.my-introduction {
    color: white;
    margin: 15vh 20vh;
    margin-bottom: 210px;

}

.header-buttons {
    border: none;
    border-radius: 35px;
    padding: 20px 50px;
    cursor: pointer;
    font-size: 20px;
}

#apresentation {
    margin-bottom: 30px;
}


.link-linkedin {
    font-size: 40px;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 16px 120px;
    background-color: rgb(189, 75, 4);
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
}

.link-linkedin:hover {
    opacity: 0.8;
}

.link-linkedin:active {
    opacity: 0.5;
}

.header-buttons:hover {
    opacity: 0.8;
}

.header-buttons:active {
    opacity: 0.5;
}

.about-me {
    font-size: 80px;
    padding-top: 30px;
    text-align: center;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.profile-professional {
    text-align: center;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.davi-img {
    height: 450px;
    width: 350px;
    margin-left: 180px;
    border-radius: 50px;

}

.about-section {
    color: white;
    font-size: 25px;
    margin-left: 100px;
    padding-bottom: 65px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));

}

.davi-ul {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 600px 600px 300px;
    justify-content: center;
}
.my-descrition {
    font-size: 50px;
}

li {
    list-style-type: none;
}

.my-habilit {
    text-align: center;
    margin-top: 60px;
    color: white;
    font-size: 55px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.my-titles {
    color: rgb(202, 59, 59);
    margin-bottom: 15px;
}
/*
.first-habilits {
    padding: 20px;
    text-align: left;
    display: inline-block;
    width: 450px;
    height: 300px;
    color: white;
    border: 3px solid rgb(178, 16, 16);
    background-color: rgb(38, 6, 6);
    text-align: left;
} */
.xp {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px ;
    gap: 20px;
    margin-bottom: 200px;
}
.li-xp {
    text-align: left;
    border: 3px solid rgb(178, 16, 16);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(38, 6, 6); 
    color: white;
}

.DevClub {
    color: rgb(123, 15, 224);

}

.UniFavip {

    color: rgb(189, 75, 4);
}


.my-tecnologys {
    width: 50px;
    height: 50px;
}

.my-tecnologys-css {
    width: 37px;
    height: 49px;
}

.html-logo {
    color: rgb(201, 17, 11);
}

.css-logo {
    color: rgb(36, 36, 241);
}

.js-logo {
    color: rgb(255, 223, 44);
}

.projets {
    margin-top: 30px;
    text-align: center;
    font-size: 70px;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.my-projets {
    font-size: 27px;
    text-align: center;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.conversor-de-moedas {
    height: 200px;
    width: 400px;
    cursor: pointer;

}

.hamburgueria-simples {
    height: 200px;
    width: 400px;
    cursor: pointer;

}

.jokenpo {
    height: 200px;
    width: 400px;
    cursor: pointer;
}

.my-img-projets {
    margin-top: 70px;
    margin-bottom: 70px;
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 20px;
    justify-content: center;
}

.text-projets {
    font-size: 20px;
    color: white;
}

.instagram {
    padding-right: 10px;
    padding-left: 10px;
}

.my-footer {
    width: 100%;
    padding: 30px 30px 80px 30px;
    background-color: rgb(87, 7, 7);
    /* border: 3px solid rgb(251, 255, 0); */
}

.my-contact {
    margin-bottom: 30px;
    text-align: center;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.div-footer {
    text-align: center;

}

.linkedin {
    margin-right: 10px;
}